@charset "utf8";

body{
    background: #eeeeee;
}

header a.mdl-layout__tab{
    color: white;
}

main.mdl-layout__content{
    width: auto;
    display: block;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#app{
    height: 100%;
}

.mdl-data-table{
    width: 100%;
}

.mdl-layout__content{
    padding: 30px;
}

.mdl-layout.is-upgraded nav .mdl-layout__tab.is-active{
    color: grey;
}

.mdl-layout.is-upgraded nav .mdl-layout__tab.is-active::after {
    background-color: transparent;
}
