@charset "utf8";

body{
    background: #eeeeee;
}

header a.mdl-layout__tab{
    color: white;
}

main.mdl-layout__content{
    width: auto;
    display: block;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#app{
    height: 100%;
}

.mdl-data-table{
    width: 100%;
}

.mdl-layout__content{
    padding: 30px;
}

.mdl-layout.is-upgraded nav .mdl-layout__tab.is-active{
    color: grey;
}

.mdl-layout.is-upgraded nav .mdl-layout__tab.is-active::after {
    background-color: transparent;
}

.mdl-radio.is-upgraded{
    padding-right: 30px;
}

.mdl-button{
    margin-right: 20px;
}

i.credit, i.debit{
    font-size: 50px;
}

i.credit, i.credit-small{
    color: green;
}

i.debit, i.debit-small{
    color: red;
}

i.credit-small, i.debit-small{
    font-size: 30px;
}

.fixedButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

h5{
    color: #3b2c5c;
}

h5:after{
    height: 2px;
    background: #3b2c5c;
    width: 100%;
    display: block;
    content: " ";
    margin-top: 5px;
}

div.menuWrapper{
    position: absolute;
    margin: 18px;
    right: 10px;
}
